# packages in environment at /Users/abdulrahmandawoud/miniconda3/envs/emo_env:
#
# Name                    Version                   Build  Channel
absl-py                   2.1.0              pyhd8ed1ab_0    conda-forge
aiohttp                   3.9.5           py310hd125d64_0    conda-forge
aiosignal                 1.3.1              pyhd8ed1ab_0    conda-forge
aom                       3.5.0                h7ea286d_0    conda-forge
astunparse                1.6.3              pyhd8ed1ab_0    conda-forge
async-timeout             4.0.3              pyhd8ed1ab_0    conda-forge
attrs                     23.2.0             pyh71513ae_0    conda-forge
blinker                   1.8.2              pyhd8ed1ab_0    conda-forge
blosc                     1.21.5               hc338f07_0    conda-forge
brotli                    1.0.9                h1a8c8d9_9    conda-forge
brotli-bin                1.0.9                h1a8c8d9_9    conda-forge
brotli-python             1.0.9           py310h0f1eb42_9    conda-forge
brunsli                   0.1                  h9f76cd9_0    conda-forge
bzip2                     1.0.8                h80987f9_6  
c-ares                    1.28.1               h93a5062_0    conda-forge
c-blosc2                  2.12.0               ha57e6be_0    conda-forge
ca-certificates           2024.3.11            hca03da5_0  
cached-property           1.5.2                hd8ed1ab_1    conda-forge
cached_property           1.5.2              pyha770c72_1    conda-forge
cachetools                5.3.3              pyhd8ed1ab_0    conda-forge
cairo                     1.16.0            h73a0509_1014    conda-forge
certifi                   2024.2.2           pyhd8ed1ab_0    conda-forge
cffi                      1.16.0          py310hdcd7c05_0    conda-forge
cfitsio                   4.2.0                h2f961c4_0    conda-forge
charls                    2.4.2                h13dd4ca_0    conda-forge
charset-normalizer        3.3.2              pyhd8ed1ab_0    conda-forge
click                     8.1.7           unix_pyh707e725_0    conda-forge
cloudpickle               3.0.0              pyhd8ed1ab_0    conda-forge
cryptography              39.0.0          py310h4fe9c50_0    conda-forge
cycler                    0.12.1             pyhd8ed1ab_0    conda-forge
cytoolz                   0.12.3          py310hd125d64_0    conda-forge
dask-core                 2024.5.0           pyhd8ed1ab_0    conda-forge
dav1d                     1.2.1                hb547adb_0    conda-forge
docutils                  0.21.2             pyhd8ed1ab_0    conda-forge
expat                     2.6.2                hebf3989_0    conda-forge
ffmpeg                    5.1.2           gpl_hf318d42_106    conda-forge
flatbuffers               2.0.8                hb7217d7_1    conda-forge
font-ttf-dejavu-sans-mono 2.37                 hab24e00_0    conda-forge
font-ttf-inconsolata      3.000                h77eed37_0    conda-forge
font-ttf-source-code-pro  2.038                h77eed37_0    conda-forge
font-ttf-ubuntu           0.83                 h77eed37_2    conda-forge
fontconfig                2.14.2               h82840c6_0    conda-forge
fonts-conda-ecosystem     1                             0    conda-forge
fonts-conda-forge         1                             0    conda-forge
fonttools                 4.51.0          py310hd125d64_0    conda-forge
freetype                  2.12.1               hadb7bae_2    conda-forge
frozenlist                1.4.1           py310hd125d64_0    conda-forge
fsspec                    2024.3.1           pyhca7485f_0    conda-forge
gast                      0.4.0              pyh9f0ad1d_0    conda-forge
gettext                   0.22.5               h8fbad5d_2    conda-forge
gettext-tools             0.22.5               h8fbad5d_2    conda-forge
giflib                    5.2.2                h93a5062_0    conda-forge
gmp                       6.3.0                hebf3989_1    conda-forge
gnutls                    3.7.9                hd26332c_0    conda-forge
google-auth               2.29.0             pyhca7485f_0    conda-forge
google-auth-oauthlib      0.4.6              pyhd8ed1ab_0    conda-forge
google-pasta              0.2.0              pyh8c360ce_0    conda-forge
graphite2                 1.3.13            hebf3989_1003    conda-forge
grpc-cpp                  1.47.1               h503f348_7    conda-forge
grpcio                    1.47.1          py310ha7689be_7    conda-forge
h5py                      3.7.0           nompi_py310h3419284_102    conda-forge
harfbuzz                  6.0.0                hddbc195_0    conda-forge
hdf5                      1.12.2          nompi_h55deafc_101    conda-forge
icu                       70.1                 h6b3803e_0    conda-forge
idna                      3.7                pyhd8ed1ab_0    conda-forge
imagecodecs               2023.1.23       py310hd30fb6a_0    conda-forge
imageio                   2.33.1             pyh8c1a49c_0    conda-forge
importlib-metadata        7.1.0              pyha770c72_0    conda-forge
importlib_metadata        7.1.0                hd8ed1ab_0    conda-forge
jasper                    2.0.33               hc3cd1e9_1    conda-forge
jpeg                      9e                   h1a8c8d9_3    conda-forge
jxrlib                    1.1                  h93a5062_3    conda-forge
keras                     2.10.0             pyhd8ed1ab_0    conda-forge
keras-preprocessing       1.1.2              pyhd8ed1ab_0    conda-forge
kiwisolver                1.4.5           py310h38f39d4_1    conda-forge
krb5                      1.20.1               h127bd45_0    conda-forge
lame                      3.100             h1a8c8d9_1003    conda-forge
lcms2                     2.15                 h481adae_0    conda-forge
lerc                      4.0.0                h9a09cb3_0    conda-forge
libabseil                 20220623.0      cxx17_h28b99d4_6    conda-forge
libaec                    1.1.3                hebf3989_0    conda-forge
libasprintf               0.22.5               h8fbad5d_2    conda-forge
libasprintf-devel         0.22.5               h8fbad5d_2    conda-forge
libavif                   0.11.1               h9f83d30_2    conda-forge
libblas                   3.9.0           20_osxarm64_openblas    conda-forge
libbrotlicommon           1.0.9                h1a8c8d9_9    conda-forge
libbrotlidec              1.0.9                h1a8c8d9_9    conda-forge
libbrotlienc              1.0.9                h1a8c8d9_9    conda-forge
libcblas                  3.9.0           20_osxarm64_openblas    conda-forge
libcurl                   7.87.0               hbe9bab4_0    conda-forge
libcxx                    17.0.6               h5f092b4_0    conda-forge
libdeflate                1.17                 h1a8c8d9_0    conda-forge
libedit                   3.1.20191231         hc8eb9b7_2    conda-forge
libev                     4.33                 h93a5062_2    conda-forge
libexpat                  2.6.2                hebf3989_0    conda-forge
libffi                    3.4.4                hca03da5_1  
libgettextpo              0.22.5               h8fbad5d_2    conda-forge
libgettextpo-devel        0.22.5               h8fbad5d_2    conda-forge
libgfortran               5.0.0           13_2_0_hd922786_3    conda-forge
libgfortran5              13.2.0               hf226fd6_3    conda-forge
libglib                   2.80.2               h535f939_0    conda-forge
libiconv                  1.17                 h0d3ecfb_2    conda-forge
libidn2                   2.3.7                h93a5062_0    conda-forge
libintl                   0.22.5               h8fbad5d_2    conda-forge
libintl-devel             0.22.5               h8fbad5d_2    conda-forge
liblapack                 3.9.0           20_osxarm64_openblas    conda-forge
liblapacke                3.9.0           20_osxarm64_openblas    conda-forge
libnghttp2                1.51.0               hd184df1_0    conda-forge
libopenblas               0.3.25          openmp_h6c19121_0    conda-forge
libopencv                 4.7.0           py310h57d381e_0    conda-forge
libopus                   1.3.1                h27ca646_1    conda-forge
libpng                    1.6.43               h091b4b1_0    conda-forge
libprotobuf               3.21.12              ha614eb4_2    conda-forge
libsqlite                 3.45.3               h091b4b1_0    conda-forge
libssh2                   1.10.0               hb80f160_3    conda-forge
libtasn1                  4.19.0               h1a8c8d9_0    conda-forge
libtiff                   4.5.0                h5dffbdd_2    conda-forge
libunistring              0.9.10               h3422bc3_0    conda-forge
libvpx                    1.11.0               hc470f4d_3    conda-forge
libwebp-base              1.4.0                h93a5062_0    conda-forge
libxcb                    1.13              h9b22ae9_1004    conda-forge
libxml2                   2.10.3               h67585b2_4    conda-forge
libzlib                   1.2.13               h53f4e23_5    conda-forge
libzopfli                 1.0.3                h9f76cd9_0    conda-forge
llvm-openmp               18.1.5               hde57baf_0    conda-forge
locket                    1.0.0              pyhd8ed1ab_0    conda-forge
lz4-c                     1.9.4                hb7217d7_0    conda-forge
markdown                  3.6                pyhd8ed1ab_0    conda-forge
markupsafe                2.1.5           py310hd125d64_0    conda-forge
matplotlib                3.5.3           py310hb6292c7_2    conda-forge
matplotlib-base           3.5.3           py310h78c5c2f_2    conda-forge
multidict                 6.0.5           py310h8e9501a_0    conda-forge
munkres                   1.1.4              pyh9f0ad1d_0    conda-forge
ncurses                   6.4                  h313beb8_0  
nettle                    3.9.1                h40ed0f5_0    conda-forge
networkx                  3.3                pyhd8ed1ab_1    conda-forge
numpy                     1.23.3          py310h5d7c261_0    conda-forge
oauthlib                  3.2.2              pyhd8ed1ab_0    conda-forge
opencv                    4.7.0           py310hb6292c7_0    conda-forge
openh264                  2.3.1                hb7217d7_2    conda-forge
openjpeg                  2.5.0                hbc2ba62_2    conda-forge
openssl                   1.1.1w               h53f4e23_0    conda-forge
opt_einsum                3.3.0              pyhc1e730c_2    conda-forge
p11-kit                   0.24.1               h29577a5_0    conda-forge
packaging                 24.0               pyhd8ed1ab_0    conda-forge
pandas                    1.4.4           py310h2b830bf_0    conda-forge
partd                     1.4.2              pyhd8ed1ab_0    conda-forge
pcre2                     10.43                h26f9a81_0    conda-forge
pillow                    9.4.0           py310h5a7539a_1    conda-forge
pip                       24.0            py310hca03da5_0  
pixman                    0.43.4               hebf3989_0    conda-forge
protobuf                  4.21.12         py310h0f1eb42_0    conda-forge
pthread-stubs             0.4               h27ca646_1001    conda-forge
py-opencv                 4.7.0           py310h69fb684_0    conda-forge
pyasn1                    0.6.0              pyhd8ed1ab_0    conda-forge
pyasn1-modules            0.4.0              pyhd8ed1ab_0    conda-forge
pycparser                 2.22               pyhd8ed1ab_0    conda-forge
pyjwt                     2.8.0              pyhd8ed1ab_1    conda-forge
pyopenssl                 23.2.0             pyhd8ed1ab_1    conda-forge
pyparsing                 3.1.2              pyhd8ed1ab_0    conda-forge
pysocks                   1.7.1              pyha2e5f31_6    conda-forge
python                    3.10.8          hf452327_0_cpython    conda-forge
python-dateutil           2.9.0              pyhd8ed1ab_0    conda-forge
python-flatbuffers        24.3.25            pyh59ac667_0    conda-forge
python_abi                3.10                    4_cp310    conda-forge
pytz                      2024.1             pyhd8ed1ab_0    conda-forge
pyu2f                     0.1.5              pyhd8ed1ab_0    conda-forge
pywavelets                1.4.1           py310h280b8fa_1    conda-forge
pyyaml                    6.0.1           py310h2aa6e3c_1    conda-forge
re2                       2022.06.01           h9a09cb3_1    conda-forge
readline                  8.2                  h1a28f6b_0  
requests                  2.31.0             pyhd8ed1ab_0    conda-forge
requests-oauthlib         2.0.0              pyhd8ed1ab_0    conda-forge
rsa                       4.9                pyhd8ed1ab_0    conda-forge
scikit-image              0.19.3          py310h2b830bf_2    conda-forge
scipy                     1.9.1           py310ha0d8a01_0    conda-forge
setuptools                69.5.1          py310hca03da5_0  
six                       1.16.0             pyh6c4a22f_0    conda-forge
snappy                    1.1.10               hd04f947_1    conda-forge
sqlite                    3.45.3               h80987f9_0  
statistics                1.0.3.5         py310hca03da5_1  
svt-av1                   1.4.1                h7ea286d_0    conda-forge
tensorboard               2.10.1             pyhd8ed1ab_0    conda-forge
tensorboard-data-server   0.6.1           py310h4fe9c50_4    conda-forge
tensorboard-plugin-wit    1.8.1              pyhd8ed1ab_0    conda-forge
tensorflow                2.10.0          cpu_py310h6ecea76_0    conda-forge
tensorflow-base           2.10.0          cpu_py310h4e07833_0    conda-forge
tensorflow-estimator      2.10.0          cpu_py310hd4a8b9c_0    conda-forge
termcolor                 2.4.0              pyhd8ed1ab_0    conda-forge
tifffile                  2023.8.12          pyhd8ed1ab_0    conda-forge
tk                        8.6.14               h6ba3021_0  
toolz                     0.12.1             pyhd8ed1ab_0    conda-forge
tornado                   6.4             py310hd125d64_0    conda-forge
typing-extensions         4.11.0               hd8ed1ab_0    conda-forge
typing_extensions         4.11.0             pyha770c72_0    conda-forge
tzdata                    2024a                h04d1e81_0  
unicodedata2              15.1.0          py310h2aa6e3c_0    conda-forge
urllib3                   2.2.1              pyhd8ed1ab_0    conda-forge
werkzeug                  3.0.3              pyhd8ed1ab_0    conda-forge
wheel                     0.43.0          py310hca03da5_0  
wrapt                     1.16.0          py310hd125d64_0    conda-forge
x264                      1!164.3095           h57fd34a_2    conda-forge
x265                      3.5                  hbc6ce65_3    conda-forge
xorg-libxau               1.0.11               hb547adb_0    conda-forge
xorg-libxdmcp             1.1.3                h27ca646_0    conda-forge
xz                        5.4.6                h80987f9_1  
yaml                      0.2.5                h3422bc3_2    conda-forge
yarl                      1.9.4           py310hd125d64_0    conda-forge
zfp                       1.0.1                ha8f4885_0    conda-forge
zipp                      3.17.0             pyhd8ed1ab_0    conda-forge
zlib                      1.2.13               h53f4e23_5    conda-forge
zlib-ng                   2.0.7                h1a8c8d9_0    conda-forge
zstd                      1.5.6                hb46c0d2_0    conda-forge
